/* NAVBAR */ 

.navbar {
  background-color: #CE8132;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
}

.logo {
  max-width: 60px;
}

.lista-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.nav-links li a:hover {
  text-decoration: underline;
}

button{
  padding: 12px 25PX;
  background-color:#61005D;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.6s;
}

button:hover {
  background-color: #E3D9FF;
  color:#61005D;
  transform: scale(1.1);
  border: 1px solid white;
}

/* IMAGEM INICIAL */

.contentImage img{
  width: 100%;
  height: 85vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

/* METAS */

:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 16px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 32px;
  --spacing-xxl: 32px;
  --width-container: 1200px;
}

.metas-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #EAAC47 0%, #CE8132 150%);
  display: flex;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid-metas{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
  margin-top: 16px;
}

.card-metas i{
  margin-right: 10px;
}

@media(min-width: 540px){
  .card-grid-metas{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid-metas{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card-metas{
  list-style: none;
  position: relative;
}

.card-metas:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card-metas:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid-metas:hover > .card-metas:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(5px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.0rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.3;
}

/* ODS */


.ODS {
  perspective: 1000px; 
  display: flex;
  justify-content: center; 
  margin-top: 35px;
}

.ODS16{
  margin-left: 35px;
}

.ODS08{
  margin-right: 35px;
}

.card {
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d; 
  transition: transform 0.5s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 78px 0px 32px 0px;
-webkit-border-radius: 78px 0px 32px 0px;
-moz-border-radius: 78px 0px 32px 0px;
border: 7px double   #EAAC47 ;
}

.back {
  background-color: #CE8132;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  transform: rotateY(180deg);
  border-radius: 78px 0px 32px 0px;
-webkit-border-radius: 78px 0px 32px 0px;
-moz-border-radius: 78px 0px 32px 0px;
border: 7px double   #EAAC47 ;
}

.back p{
  padding: 20px;
margin-top: 40px;
}

input[type="checkbox"] {
  display: none; 
}

input[type="checkbox"] + .card {
  cursor: pointer;
}

input[type="checkbox"]:checked + .card {
  transform: rotateY(180deg);
}
/* SOMOS MAIS */
.somosMais{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #CE8132;
  color: white;
  font-size: 18px;
  margin-bottom: 35px;
  padding: 20px;
  margin-top: 35px;
}

.somosMais span{
  font-size: 19px;
  cursor: pointer;
  color:#61005D;
}

/* ----------------Sessão 2------------------------ */

.container {
  position: relative;
}

.content-2 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.content-2 h1 {
  font-size: 3em;
  color: #fff;
  font-weight: 300;
  text-align: left;
  line-height: 50px;
  text-shadow: black 1px 1px 2px;
}

.sessao-2 h1 span {
  font-weight: 700;
}

#btn-cadastrar {
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 43px;
  padding: 0 20px 2px;
  background: #61005D;
  border: 1.5px solid  #E3D9FF;
  color: #fff;
  display: flex;
  justify-content: baseline;
  margin: 5px 0px;
}

#nosComVoce {
  width: 90%; 
  height: 80vh;
  padding: 32px;
  display: block;
  margin: 0px auto;
  border-radius: 100px;
}

/*--DADOS--*/

.destaque p{
  font-size: 14pt;
  color: #CE8132;
  text-align: center;
  margin-bottom: 30px;
}

.h3-sobre{
  font-size: 92pt;
  color: #CE8132;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.h3-sobre:hover{
  transform: scale(1.1);
  color:#edb964;
  transition: ease 1s;
}

.texto p{
  margin: 30px;
  font-size: 12pt;
  text-align: center;
}

.posicoesb, .posicoes  {
  max-width: 85%;
}

.informacoes {
  display: flex;
  flex-direction: row;
    color: #202324;
    margin: 15px  65px;
    padding: 15px;
  }

   /*-------------------- Contate-nos ---------------------*/
.teste{
  align-items: flex-start;
  background: rgb(206,129,50);
  background-image: url(../img/contato.png); 
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 0;
}

  .containerContato {
    background-color: #fffffea8;
    max-width: 600px;
    margin: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, .input, .textarea {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input[type="text"], .input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#enviarForm {
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    transition: 0.6s;
    background: #61005D;
    border: 1.5px solid  #E3D9FF;
    color: #fff;
}

#enviarForm:hover {
    color: #61005D;
    background-color: #E3D9FF;
    transform: scale(1.1);
    border: 1px solid white;
}

/*-------------------- Footer ---------------------*/
.footer {
  background-color: #CE8132;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer p {
  margin: 20px;
}

.footer-text p {
margin-bottom: 20px;
font-size: 14px;
    color: #fff;
line-height: 28px;
}

.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.fa-facebook{
background: #3B5998;
}
.fa-twitter{
background: #55ACEE;
}
.fa-instagram{
background: #DD4B39;
}
.fa-github{
background: #5b5656;
}

