.empresa{
    margin-right: 20px;
    margin-top: 2px;
}
.nav-text{
    margin-top:10px;
}

.fas{
    margin-left: 5px;
}

.logo{
    margin-top: 10px;
    margin-left: 5px;
}

.central{
    background-image: url(../img/estoquetoc02.png); 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% auto;  
    padding: 180px;
  }
  
  .central h1{
    font-size: 4.8rem;
    line-height: 4.8rem;
    letter-spacing: -0.06em;
    color: White;
    text-align: left;
    text-shadow:  1px 1px 2px #262626;
  }
  
  .boasVindas{
   width: 85%;
    margin-left: 150px;
  }
  