
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6; 
  }

  body{
    height: 100%;
  }
  
/*-------------------- Scrollbar ---------------------*/
::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

/* Estilo do "pulso" (thumb) */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.301); /* Cor do "pulso" */
    border-radius: 3px; /* Borda arredondada */
}


/*------------Breadcrumb------------*/
ul.breadcrumb{
  padding: 1px 16px;
  list-style: momne;
  background-color: white;
}

ul.breadcrumb li{
  display: inline;
  font-size: 12px;
}

ul.breadcrumb li+li:before{
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a{
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover{
  color: #01447e;
  text-decoration: underline;
}






